</div>
</div>



<script>
	function myFunction() {
		var input, filter, table, tr, td, i, txtValue;
		input = document.getElementById("myInput");
		filter = input.value.toUpperCase();
		table = document.getElementById("myTable");
		tr = table.getElementsByTagName("tr");
		for (i = 0; i < tr.length; i++) {
			td = tr[i].getElementsByTagName("td")[1];
			if (td) {
				txtValue = td.textContent || td.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}

	//var x = document.getElementById("result").rows.length;
	var tbl = document.getElementsByName("table");
	if (tbl != null) {
		for (var i = 0; i < tbl.rows.length; i++) {
			for (var j = 0; j < tbl.rows[i].cells.length; j++)
				tbl.rows[i].cells[j].onclick = function () { getval(this); };
		}
	}
	function getval(cel) {
		alert(cel.innerHTML);
	}






</script>

</body>

</html>