<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>City Security System</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   
</head>

<body>
    <!-- partial:index.partial.html -->
    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">
            <header>
                <a href="/home">City Security System</a>
            </header>
            <ul class="nav">
                <li>
                    <a href="/monitoring/list">
                        <i class="zmdi zmdi-image"></i> Monitoring
                    </a>
                </li>
                <li>
                    <a href="/monitoring/new">
                        <i class="zmdi zmdi-plus"></i>New Monitoring 
                    </a>
                </li>
                <li>
                    <a href="/home/aboutUs">
                        <i class="zmdi zmdi-info"></i>About Us
                    </a>
                </li>

            </ul>
        </div>
        <!-- Content -->
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li id="kullanici">Hoşgeldiniz !</li> -->
                    </ul>
                </div>
            </nav>
            